
/* Color fondo de pagina */
body{background-color: black;}

/* identificador especial */
h1#identificador{
    color:black;
    background-color: pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Posicionamiento redvelvet */
img.redvelvet{
    position: relative;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 100px;
}

h3.estilo{
    color: blueviolet;
    position: relative;
    top: 100px;
    left: 0px;
}

/* Posicionamiento carrotcake */

img.carrotcake{
    position: relative;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 300px;
}
h3.carrot{
    color: blueviolet;
    position: relative;
    top:170px ;
    left:200px ;
}

/* Posicionamiento oreo */
h3.oreo{
    color: blueviolet;
    position: relative;
    top: 250px;
    left: 400px;
}

img.oreo{
    position: relative;
    top: 150px;
    left: 500px;
    width: 100px;
    height: 100px;
}
/* identificador recetas */
h1#recetas{
    color:black;
    background-color: pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

/* identificador descripcion */
h1#descripcion{
    color:black;
    background-color:pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Descripcion estilos */

h3.tartas{
    color: pink;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
blockquote.descripcion{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
span.velvet{
    color: red;
    font-style: italic;
}
span.carrot{
    color: salmon;
    font-style: italic;
}
span.oreo{
    color: cornsilk;
    font-style: italic;
}

/* estilo red velvet */

p.ing{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: larger;
}
ul.lista{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: circle;
}
pre.receta{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}