
/* Color fondo de pagina */
body{background-color: black;}

/* identificador especial */
h1#identificador{
    color:black;
    background-color: pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Posicionamiento redvelvet */
img.redvelvet{
    width: 200px;
    height: 200px;    
}
p.left{
    text-align: left;
}

h3.estilo{
    color: blueviolet;
    text-align: left;
}
div.left{
    clear: both;
}

/* Posicionamiento carrotcake */

img.carrotcake{
    width: 200px;
    height: 200px;
    
}
p.center{
    text-align: center;
}
h3.carrot{
    color: blueviolet;
    text-align: center;
}
div.center{
    clear: both;
}

/* Posicionamiento oreo */
h3.oreo{
    color: blueviolet;
    text-align: right;
}
p.right{
    text-align: right;
}
img.oreo{
    width: 200px;
    height: 200px;
}
div.right{
    clear: both;
}

/* index footer */
p.pie{
    background-color: pink;
    display: block;
}

/* identificador recetas */
h1#recetas{
    color:black;
    background-color: pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

/* identificador descripcion */
h1#descripcion{
    color:black;
    background-color:pink;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Descripcion estilos */

h3.tartas{
    color: pink;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
}
blockquote.descripcion{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
span.velvet{
    color: red;
    font-style: italic;
}
span.carrot{
    color: salmon;
    font-style: italic;
}
span.oreo{
    color: cornsilk;
    font-style: italic;
}
/* estilo tartas */

p.ing{
    color:pink;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold and italic;
    font-size: larger;
}
ul.lista{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: circle;
}
pre.receta{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
table.estilo{
    border: pink 2 px solid;
    color: white;
}
td{
    border: thistle 2px solid;
    text-align: center;
    max-width: max-content;

}
div.dif{
    color: thistle;
    background-color: white;
    display: inline;
}
h1.tartas{
    color: thistle;
    text-align: center;
}